@font-face {
    font-family: 'FallingSkyMed';
    src: url('../media/fonts/FallingSkyMedium-ved9.otf');
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'FallingSkyMed';
}
a {
    text-decoration: none;
}
input {
    border: none;
}
input:focus {
    outline: none;
}
.container {
    max-width: 100%;
    height: 100%;
    padding: 0 100px;
}
.header {
    width: 100%;
    height: 80px;
    background: white;

    position: fixed;
    z-index: 9999;
}
.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.logo {
    height: 70px;
}
.logo__pict {
    height: 100%;
}
.nav {
    margin-right: 300px;
}
.nav__link {
    display: inline-block;
    color: black;
    font-size: 18px;
    margin-right: 20px;
    cursor: pointer;
}
.nav__link:last-child {
    margin-right: 0;
}
.nav__link_auth, .nav__link_reg {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}
.nav__link_reg {
    background: #000;
    color: white;
}
.main__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 200px;
}
.main-header {
    margin-bottom: 30px;
}
.main-logo {
    height: 150px;
    margin-bottom: 10px;
}
.main-logo__pict {
    height: 100%;
}
.main-deviz {
    font-size: 26px;
    text-align: center;
}
.main-slider {
    display: flex;
    justify-content: center;
    height: 300px;
}
.main-slider-wrapper {
    height: 100%;
    width: 1200px;
    overflow: hidden;
    
    position: relative;
}
.main-slider-feed {
    display: flex;
    height: 100%;

    position: absolute;
    left: 0;
    top: 0;
    transition: left .1s ease;
}
.main-slider__slide {
    height: 100%;
    width: 400px;
}
.main-slider__media {
    width: calc(100% - 10px);
    height: 75%;
}
.main-slider__product-pict {
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.main-slider__product-name {
    font-size: 32px;
    text-align: center;
}
.main-slider-btn {
    background: none;
    border: none;
    font-size: 100px;
    color: black;
    cursor: pointer;
    padding: 20px;
}
.modal-bg {
    display: none;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(8px);

    position: fixed;
    left: 0;
    top: 0;
    z-index: 10000;
}
.modal-bg_active {
    display: block;
}
.modal-auth {
    padding: 40px;
    border-radius: 15px;
    background: white;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.3);

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.form-log {
    display: none;
    flex-direction: column;
}
.form-log_active {
    display: flex;
}
.form-log__name {
    margin-bottom: 20px;
}
.form-log__inputs {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
.form-log__input {
    width: 200px;
    height: 30px;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 5px;
}
.form-log__input:last-child {
    margin-bottom: 0;
}
.form-log__btns {
    display: flex;
    justify-content: flex-end;
}
.form-log__btn {
    border-radius: 3px;
    padding: 5px;
    cursor: pointer;
}
.form-log__btn_auth, .form-log__btn_reg {
    margin-right: 5px;
    background: black;
    color: white;
}
.form-log__btn_close {
    background: white;
    cursor: pointer;
}
.catalog__inner {
    padding-top: 100px;
}
.section__title {
    font-size: 56px;
    text-align: center;
    margin-bottom: 30px;
}
.catalog-toolbar {
    display: flex;
    margin-bottom: 40px;
}
.catalog-toolbar-order {
    margin-right: 50px;
}
.catalog-toolbar-filter {
    display: flex;
    margin-right: 50px;
}
.catalog-toolbar-filter__item:first-child {
    margin-right: 10px;
}
.catalog-toolbar__btn {
    background: black;
    padding: 5px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
.catalog-catalog {
    display: grid;
    grid-template-columns: repeat(4, 300px);
    gap: 20px;
    justify-content: center;
}
.catalog-catalog__item {
    padding: 40px;
    border: 1px solid black;
    border-radius: 15px;
    cursor: pointer;
}
.catalog-catalog__media {
    width: 100%;
    height: 300px;

    position: relative;
}
.catalog-catalog__pict {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: contain;
}
.catalog-catalog__name {
    font-size: 28px;
}
.catalog-catalog__price {
    font-size: 20px;
}
.product__inner {
    display: flex;
    justify-content: center;
    padding-top: 100px;
}
.product__media {
    height: 500px;
    width: 50%;

    position: relative;
}
.product__pict {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: contain;
}
.product__name {
    font-size: 48px;
    margin-bottom: 15px;
}
.product__price {
    font-size: 26px;
    margin-bottom: 30px;
}
.product__list {
    margin-bottom: 20px;
}
.product__btn {
    padding: 7px;
    background: black;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
.adrss__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}
.adrss__map {
    margin-bottom: 30px;
}
.adrss__info {
    font-size: 22px;
}
.admin-pan__inner {
    padding-top: 100px;
}
.admin-pan__section {
    padding: 50px;
    width: 100%;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.425);
}
.admin-pan__title {
    font-size: 36px;
    margin-bottom: 20px;
}
.admin-pan__toolbar {
    display: flex;
}
.admin-pan__tool {
    margin-right: 15px;
}
.admin-pan__orders {

}
.admin-pan-order {
    display: flex;
    align-items: center;
    padding: 10px;
}
.admin-pan-order__media {
    height: 300px;
    width: 300px;

    position: relative;
}
.admin-pan-order__pict {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: contain;
}
.admin-pan-order__name {
    font-size: 20px;
    text-align: center;
}
.admin-pan-order__client, .admin-pan-order__count {
    text-align: center;
}
td {
    border: 1px solid black;
    padding: 10px;
}
.admin-pan-order__action {
    padding: 5px;
    border-radius: 3px;
    color: white;
}
.admin-pan-order__action_accept {
    background: rgb(11, 158, 0);
}
.admin-pan-order__action_cancel {
    background: rgb(144, 0, 0);
}